<%= form_for([@recipe, @recipe_ingredient]) do |form| %>
  <% if recipe_ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe_ingredient.errors.count, "error") %> prohibited this recipe_ingredient from being saved:</h2>

      <ul>
      <% recipe_ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h1>New Recipe Ingredient</h1>
  <div class="field">
    <h2>
      <%= form.label :ingredient_id %>
    </h2>
    <%= select("recipe_ingredient", "ingredient_id", Ingredient.all.collect { |i| [i.name, i.id] }, { include_blank: true }) %>
  </div>

  <div class="field">
    <h2>
      <%= form.label :quantity %>
    </h2>
    <%= form.text_field :quantity %>
  </div>

  <div class="field">
    <h2>
      <%= form.label :measure %>
    </h2>
    <%= form.text_field :measure %>
  </div>

  <div class="actions">
    <%= form.submit "Сохранить", :class => 'submitButton' %>
  </div>
<% end %>
