<%= form_for([@recipe, @recipe_ingredient]) do |form| %>
  <% if recipe_ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe_ingredient.errors.count, "error") %> prohibited this recipe_ingredient from being saved:</h2>

      <ul>
      <% recipe_ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>
      <%= form.label :ingredient_id %>
      <%= select("recipe_ingredient", "ingredient_id", Ingredient.all.collect { |i| [i.name, i.id] }, { include_blank: true }) %>
    </p>
  </div>
 
  <div class="field">
    <p>
      <%= form.label :quantity %>
      <%= form.text_field :quantity %>
    </p>
  </div>

  <div class="field">
    <p>
      <%= form.label :measure %>
      <%= form.text_field :measure %>
    </p>
  </div>

  <div class="actions">
    <%= form.label 'Добавить шаг' %>
    <%= form.submit %>
  </div>
<% end %>
