<p id="notice"><%= notice %></p>

<h1>Recipe Ingredients</h1>

<section>
  <% @recipe_ingredients.each do |recipe_ingredient| %>
    <div class="card">
      <div class="">
        <h2>Ingredient_id</h2>
        <p><%= recipe_ingredient.ingredient_id %></p>
      </div>

      <div class="">
        <h2>Quantity</h2>
        <p><%= recipe_ingredient.quantity %></p>
      </div>

      <div class="">
        <h2>Measure</h2>
        <p><%= recipe_ingredient.measure %></p>
      </div>

      <div class="">
        <h2>Recipe_id</h2>
        <p><%= recipe_ingredient.recipe_id %></p>
      </div>

      <a><%= link_to 'Show', recipe_ingredient %></a>
      <a><%= link_to 'Edit', edit_recipe_ingredient_path(recipe_ingredient) %></a>
      <a><%= link_to 'Destroy', recipe_ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></a>
    </div>
  <% end %>
</section>

<br>

<%= link_to 'New Recipe Ingredient', new_recipe_ingredient_path %>
