<p id="notice"><%= notice %></p>

<div class="recipe_ingredients">
  <p><%= Ingredient.find(@recipe_ingredient.ingredient_id).name %></p>
  <p><%= @recipe_ingredient.quantity %></p>
  <p><%= @recipe_ingredient.measure %></p>
</div>


<%= link_to 'Edit', edit_recipe_ingredient_path(@recipe_ingredient) %> |
<%= link_to 'Back', recipe_ingredients_path %>
