<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :recipe_image %>
    <%= form.file_field :recipe_image %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :portions %>
    <%= form.number_field :portions %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.number_field :time %>
  </div>

  <div class="field">
    <%= form.label :difficulty %>
    <%= form.number_field :difficulty %>
  </div>

  <div class="field">
    <%= form.label :nutritions %>
    <%= form.number_field :nutritions %>
  </div>

  <!-- <div class="field">
    <h2>Состав</h2>

    <a class="">
      <%#= button_to 'New Recipe Ingredient', new_recipe_ingredient_path %>
    </a>
  </div> -->

  <!-- <div class="field">
    <h2>Этапы приготовления</h2>

    <a class="">
      <%#= button_to 'New Step', new_step_path %>
    </a>
  </div> -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
