<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :recipe_image %>
    <%= form.file_field :recipe_image %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :portions %>
    <%= form.number_field :portions %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.number_field :time %>
  </div>

  <div class="field">
    <%= form.label :difficulty %>
    <%= form.number_field :difficulty %>
  </div>

  <div class="field">
    <%= form.label :nutritions %>
    <%= form.number_field :nutritions %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :origin_id %>
    <%= form.number_field :origin_id %>
  </div>

  <div class="field">
    <h2>Состав</h2>

    <div class="field">
      <%= form.label :ingredient_id %>
      <%= select("recipe_indgredient", "ingredient_id", Ingredient.all.collect { |i| [i.name, i.id] }, { include_blank: true }) %>
    </div>

<!-- должен присваиваться recipe_id -->

    <div class="field">
      <%= form.label :quantity %>
      <%= form.number_field :quantity %>
    </div>

    <div class="field">
      <%= form.label :measure %>
      <%= form.text_field :measure %>
    </div>

    <div class="field">
      <%= form.label :recipe_id %>
      <%= select("recipe_indgredient", "recipe_id", Recipe.all.collect { |b| [b.title, b.id] }, { include_blank: true }) %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>

  <div class="field">
    <h2>Этапы приготовления</h2>
    <%= form.fields_for :steps do |s| %>
      <div class="field">
        <%= form.label :description %>
        <%= form.text_field :description %>
      </div>

      <div class="field">
        <%= form.label :step_image %>
        <%= form.file_field :step_image %>
      </div>

<!-- должен присваиваться recipe_id -->

      <div class="field">
        <%= form.label :recipe_id %>
        <%= select("step", "recipe_id", Recipe.all.collect { |a| [a.title, a.id] }, { include_blank: true }) %>
      </div>

<<<<<<< HEAD
      <div class="actions">
        <%= s.submit %>
=======
      <div class="field">
        <%= form.label :position %>
        <%= form.number_field :position %>
>>>>>>> creating_fork
      </div>
    <% end %>

    <div class="actions">
      <%= form.submit %>
    </div>

  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
