<%= form_with(model: recipe, local: true, :html => { :multipart => true }) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h1>New Recipe</h1>

  <div class="field">
    <h2>
      <%= form.label "Категория блюда" %>
    </h2>
    <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Категория блюда") %>
  </div>


  <div class="field">
    <%= form.fields_for :recipe_attachments do |r| %>
      <h2>
        <%= r.label "Фотография рецепта" %>
      </h2>
      <div class="recipe_images">
        <%= r.file_field :recipe_image, :multiple => true, name: "recipe_attachments[recipe_images][]" %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <h2>
      <%= form.label "Название" %>
    </h2>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <h2>
      <%= form.label "Описание" %>
    </h2>
    <%= form.text_field :recipe_description %>
  </div>

  <div class="field">
    <h2>
      <%= form.label "Количество порций" %>
    </h2>
    <%= form.number_field :portions %>
  </div>

  <div class="field">
    <h2>
      <%= form.label "Время" %>
    </h2>
    <%= form.number_field :time %>
  </div>

  <div class="field">
    <h2>
      <%= form.label "Сложность" %>
    </h2>
    <%= select("recipe", "difficulty", options_for_select([['Легко'], ['Не просто'], ['Сложно']]), {include_blank: 'Насколько сложно?'}) %>
  </div>

  <div class="field">
    <h2>
      <%= form.label "Калорийность" %>
    </h2>
    <%= form.number_field :nutritions %>
  </div>


  <div class="actions">
    <%= form.submit 'Добавить ингредиент', :class => 'submitButton' %>
  </div>
<% end %>
