<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :recipe_image %>
    <%= form.file_field :recipe_image %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :portions %>
    <%= form.number_field :portions %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.number_field :time %>
  </div>

  <div class="field">
    <%= form.label :difficulty %>
    <%= form.number_field :difficulty %>
  </div>

  <div class="field">
    <%= form.label :nutritions %>
    <%= form.number_field :nutritions %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :origin_id %>
    <%= form.number_field :origin_id %>
  </div>

  <div class="field">
    <%= form.fields_for :steps do |s| %>
      <div class="field">
        <%= s.label :description %>
        <%= s.text_field :description %>
      </div>

      <div class="field">
        <%= s.label :step_image %>
        <%= s.file_field :step_image %>
      </div>

      <div class="field">
        <%= s.label :recipe_id %>
        <%= select("step", "recipe_id", Recipe.all.collect { |a| [a.title, a.id] }, { include_blank: true }) %>
      </div>

      <div class="field">
        <%= s.label :position %>
        <%= s.number_field :position %>
      </div>

      <div class="actions">
        <%= s.submit %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
