<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>
      <%= form.label :recipe_image %>
      <%= form.file_field :recipe_image %>
    </p>
  </div>

  <div class="field">
    <p>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </p>
  </div>

  <div class="field">
    <p>
      <%= form.label :recipe_description %>
      <%= form.text_field :recipe_description %>
    </p>
  </div>

  <div class="field">
    <p>
      <%= form.label :portions %>
      <%= form.number_field :portions %>
    </p>
  </div>

  <div class="field">
    <p>
      <%= form.label :time %>
      <%= form.number_field :time %>
    </p>
  </div>

  <div class="field">
    <p>
      <%= form.label :difficulty %>
      <%= select("recipe", "difficulty", options_for_select([['Легко'], ['Не просто'], ['Сложно']]), {include_blank: 'Насколько сложно?'}) %>
    </p>
  </div>

  <div class="field">
    <p>
      <%= form.label :nutritions %>
      <%= form.number_field :nutritions %>
    </p>
  </div>


  <div class="actions">
    <%= form.label 'Добавить ингредиент' %>
    <%= form.submit %>
  </div>
<% end %>
