<p id="notice"><%= notice %></p>

<section>
  <% @recipes.each do |recipe| %>

  <%= link_to recipe, {:action => 'show', :id => recipe.id} do -%>
    <div class="card">


        <div class="image">
          <%= image_tag(recipe.recipe_image_url.to_s) %>
        </div>

        <h2><%= recipe.title %></h2>

        <div class="recipe_attr">
          <p><%= recipe.nutritions %> ккал</p>
          <p><%= recipe.time %> мин</p>
          <p><%= recipe.difficulty %></p>
        </div>

        <a><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></a>
      </div>
    <% end %>
  <% end %>

  <%= link_to new_recipe_path, {:action => 'create'} do %>
    <div class="card add_recipe">
      <div class="info">
        <h2>Создать новый рецепт</h2>
        <%= image_tag('add.svg') %>
      </div>
    </div>
  <% end %>
</section>

<!-- <footer>
  <hr>
  <div class="social">
    <p>У нас еще есть соц сети</p>
    <%#= image_tag('social.png') %>
  </div>
</footer> -->
