<p id="notice"><%= notice %></p>

<%=
  react_component 'Recipe', {
    title: @recipe.title,
    recipe_image_url: @recipe.recipe_image_url.to_s,
    recipe_description: @recipe.recipe_description,
    nutritions: @recipe.nutritions,
    time: @recipe.time,
    difficulty: @recipe.difficulty,
    portions: @recipe.portions
  }
%>

<div class="therecipe">

  <section class="recipe_ingredients">
    <%= render partial: 'recipe_ingredients/recipe_ingredient', collection: @recipe.recipe_ingredients %>
  </section>

  <h2>Инструкция приготовления</h2>
  <%= render partial: 'steps/step', collection: @recipe.steps %>
  <%= render partial: 'steps/newStep' %>

  <div class="links">
    <a>
      <% if can? :destroy, Recipe %>
        <%= link_to 'Destroy', @recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </a>

    <a>
      <% if can? :update, Recipe %>
        <%= link_to 'Edit', edit_recipe_path(@recipe) %>
      <% end %>
    </a>

    <a>
      <% if can? :fork, Recipe %>
        <%= link_to 'Fork', fork_recipe_path(@recipe) %>
      <% end %>
    </a>
  </div>
</div>

<h3>Приготовлено</h3>

<%= render partial: 'dishes/dish', collection: @recipe.dishes %>
<h3><%= link_to 'Cooked it', new_dish_path %></h3>


<%#= link_to 'Edit', edit_recipe_path(@recipe) %>
<%#= link_to 'Fork', fork_recipe_path(@recipe) %>
<%#= link_to 'Back', recipes_path %>
