<p id="notice"><%= notice %></p>


<div class="therecipe">

  <h1><%= @recipe.title %></h1>

  <div class="image">
    <%= render partial: 'recipe_attachments/recipe_attachments', collection: @recipe.recipe_attachments %>
  </div>

  <div class="author">
    <h3><%= @recipe.user.username %></h3>
    <button type="button" name="button">
      <% if can? :update, Recipe %>
        <%= link_to 'Редактировать рецепт', edit_recipe_path(@recipe) %>
      <% end %>
    </button>
  </div>

  <h3 class="recipe_description"><%= @recipe.recipe_description %></h3>

  <h2>Общая информация</h2>
  <h2><%= link_to Category.find(@recipe.category_id).category_name, category_path(@recipe.category_id) %></h2>

  <div class="info">
    <h3><%= @recipe.nutritions %>ккал</h3>
    <h3><%= @recipe.time %>мин</h3>
    <h3><%= @recipe.difficulty %></h3>
  </div>

  <h2>Ингредиенты <span><%= image_tag('additem.svg') %> <%= link_to 'Добавить ингредиент', new_recipe_recipe_ingredient_path(@recipe) %></span></h2>
  <h3 class="portions">Порции <span><span></span><%= @recipe.portions %></span></h3>

  <section class="recipe_ingredients" id="recipe_ingredients" data-props="<%= @ingredients %>">
  </section>

  <h2>Инструкция приготовления <span><%= image_tag('additem.svg') %> <%= link_to 'Добавить шаг', new_recipe_step_path(@recipe) %></span></h2>
  <%= render partial: 'steps/step', collection: @recipe.steps %>

  <div class="links">

  </div>

  <section class="reviews">
    <div class="cooking">
      <div class="forked">
        <%= image_tag('fork.svg') %>
        <%= link_to 'Изменить рецепт', fork_recipe_path(@recipe) %>
      </div>

      <div class="cooked">
        <%= image_tag('cooked.svg') %>
        <%= link_to 'Уже готово!', new_recipe_dish_path(@recipe) %>
      </div>
    </div>

    <h2>История рецепта</h2>
    <%= render partial: 'dishes/dish', collection: @recipe.dishes %>
  </section>
</div>
