<p id="notice"><%= notice %></p>

<p>
  <strong>Portions:</strong>
  <%= @recipe.portions %>
</p>

<p>
  <strong>Time:</strong>
  <%= @recipe.time %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @recipe.difficulty %>
</p>

<p>
  <strong>Nutritions:</strong>
  <%= @recipe.nutritions %>
</p>

<p>
  <strong>User:</strong>
  <%= @recipe.user_id %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @recipe.origin_id %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
