<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Portions:</strong>
  <%= @recipe.portions %>
</p>

<p>
  <strong>Time:</strong>
  <%= @recipe.time %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @recipe.difficulty %>
</p>

<p>
  <strong>Nutritions:</strong>
  <%= @recipe.nutritions %>
</p>

<p>
  <strong>User:</strong>
  <%= @recipe.user_id %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @recipe.origin_id %>
</p>


<% if false %>
<% if @recipe.steps != [] %>
<p>
  <strong>Steps:</strong>
</p>
  <% @recipe.steps.each do |step| %>
      <p>
      Step:
      <%= step.description %>
      <br/>
      Position:
      <%= step.position %>
      </p>
  <% end %>
<% end %>
<% end %>


<div>
  <% if @recipe.recipe_image_url %>
    <%= image_tag(@recipe.recipe_image_url) %>
  <% end %>
</div>

<div>
  <%= render partial: 'steps/step', collection: @recipe.steps %>
</div>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
