<p id="notice"><%= notice %></p>

<div class="therecipe">
  <h1><%= @recipe.title %></h1>

  <div class="image">
    <%= image_tag(@recipe.recipe_image_url.to_s) %>
  </div>

  <p><%= @recipe.recipe_description %></p>

  <h2>Общая информация</h2>

  <div class="info">
    <p><%= @recipe.nutritions %>ккал</p>
    <p><%= @recipe.time %>мин</p>
    <p><%= @recipe.difficulty %></p>
  </div>

  <h2>Ингредиенты</h2>
  <p>Порции: <%= @recipe.portions %></p>
  <section class="recipe_ingredients">
    <%= render partial: 'recipe_ingredients/recipe_ingredient', collection: @recipe.recipe_ingredients %>
  </section>

  <h2>Инструкция приготовления</h2>
  <%= render partial: 'steps/step', collection: @recipe.steps %>

  <div class="links">
    <a><%= link_to 'Destroy', @recipe, method: :delete, data: { confirm: 'Are you sure?' } %></a>
    <a><%= link_to 'Edit', edit_recipe_path(@recipe) %></a>
    <a><%= link_to 'Fork', fork_recipe_path(@recipe) %></a>
  </div>
</div>

<%#= link_to 'Edit', edit_recipe_path(@recipe) %> 
<%#= link_to 'Fork', fork_recipe_path(@recipe) %>
<%#= link_to 'Back', recipes_path %>
