<p id="notice"><%= notice %></p>

<section class="profile">
  <div class="avatar">
    <%= image_tag(@user.avatar_url.to_s) %>
  </div>

  <div class="info">
    <div class="">
      <h3><%= @user.username %></h3>

      <span class="button">
        <% if can? :manage, User %>
          <%= link_to "Редактировать профиль", edit_user_registration_path(current_user) %>
        <% end %>
      </span>
    </div>

    <div class="">
      <h3>Подписчики</h3>
      <h3>Подписки</h3>
    </div>

  </div>

</section>

<section>
  <% if can? :create, Recipe %>
    <%= link_to new_recipe_path, {:action => 'create'} do %>
    <div class="card add_recipe">
      <div class="info">
        <h3>Создать новый рецепт</h3>
        <%= image_tag('add.svg') %>
      </div>
    </div>
    <% end %>
  <% end %>

  <% @user.recipes.each do |recipe| %>
  <%= link_to recipe, {:action => 'show', :id => recipe.id} do -%>
    <div class="card">


        <div class="image">
          <%= image_tag(recipe.recipe_image_url.to_s) %>
        </div>

        <h3><%= recipe.title %></h3>

        <div class="recipe_attr">
          <p><%= recipe.nutritions %>ккал</p>
          <p><%= recipe.difficulty %></p>
          <p class="clock"><span><%= image_tag('clock.svg') %></span><%= recipe.time %>мин</p>
        </div>
      </div>
    <% end %>
  <% end %>

</section>

<footer></footer>
