<%= form_for([@recipe, @dish]) do |form| %>
  <% if dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
      <% dish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :recipe_id %>
    <%= select("dish", "recipe_id", Recipe.all.collect { |a| [a.title, a.id] }, { include_blank: true }) %>
  </div>

  <div class="field">
    <%= form.label :dish_image %>
    <%= form.file_field :dish_image %>
  </div>

  <div class="field">
    <%= form.label :review %>
    <%= form.text_area :review %>
  </div>

  <div class="actions">
    <%= form.submit 'Отправить', :class => 'submitButton' %>
  </div>
<% end %>
