<p id="notice"><%= notice %></p>

<div>
  <%= image_tag(@dish.dish_image_url) %>
</div>

<!-- <p>
  <strong>Image:</strong>
  <%= @dish.image %>
</p> -->

<p>
  <strong>Review:</strong>
  <%= @dish.review %>
</p>

<%= link_to 'Edit', edit_dish_path(@dish) %> |
<%= link_to 'Back', dishes_path %>
