<%= form_for([@recipe, step]) do |form| %>
  <% if step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(step.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
      <% step.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h1>New Step</h1>

  <div class="field">
    <h2>
      <%= form.label :recipe_id %>
    </h2>
    <%= select("step", "recipe_id", Recipe.all.collect { |a| [a.title, a.id] }, { include_blank: true }) %>
  </div>

  <div class="field">
    <h2>
      <%= form.label "Фотография шага" %>
    </h2>
    <%= form.file_field :step_image %>
  </div>

  <div class="field">
    <h2>
      <%= form.label "Описание шага" %>
    </h2>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <h2>
      <%= form.label "Номер шага" %>
    </h2>
    <%= form.number_field :position %>
  </div>

  <div class="actions">
    <%= form.submit "Сохранить", :class => 'submitButton' %>
  </div>
<% end %>
