<p id="notice"><%= notice %></p>

<p>
  <strong>Recipe:</strong>
  <%= @step.recipe_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @step.position %>
</p>

<%= link_to 'Edit', edit_step_path(@step) %> |
<%= link_to 'Back', steps_path %>
