<p id="notice"><%= notice %></p>

<p>
  <strong>Recipe:</strong>
  <%= @recipe_attachment.recipe_id %>
</p>

<p>
  <strong>Recipe images:</strong>
  <%= @recipe_attachment.recipe_images %>
</p>

<%= link_to 'Edit', edit_recipe_attachment_path(@recipe_attachment) %> |
<%= link_to 'Back', recipe_attachments_path %>
