<!DOCTYPE html>
<html>
  <head>
    <title>EDA-Da</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <div class="logo">
        <%= link_to root_path do %>
        <%= image_tag('logo.svg') %>
        <% end %>
      </div>

      <!-- <div class="avatar"></div> -->
    </nav>
    <hr>

    <%= yield %>
  </body>
</html>
